html {
  height: auto;
  width: auto;
  text-align: center;

}

@font-face {
  font-family: amagro;
  src: url(fonts/amagro/Amagro-bold.ttf);
}

body {
  font-family: Manrope;
}

.title {
  font-family: amagro, serif;
}
button, .btn-small, .btn-large, button:hover, .btn-small:hover, .btn-large:hover {
  background-color: #37474f !important;
}

.waves-effect {
  -webkit-tap-highlight-color: #37474f;
}

.container-fluid {
  background-color: #ee;
  margin-top: 5%;
}

.whoPpl {
  margin-top: 10%;
}

li {
  margin-left: 5%;
  text-align: left;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  body {
    height: 100%;
  }
  .container-fluid {
    margin-top: 15%;
  }

  .btn-large {
    margin-top: 5%;
    padding: auto;
    width: 100%;
  }

  .title {
    font-size: 72px;
    padding-top: 2.5%;
  }

  h5 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
  }

  ul {
    margin-top: 5%;
  }


}
