html {
  height: auto;
  width: auto;
  text-align: center;
  margin: 10% auto;

}

body {
  font-family: Manrope;
}


.container-fluid {
  background-color: #ee;
}

.whoPpl {
  margin-top: 10%;
}

li {
  margin-left: 5%;
  text-align: left;
  font-size: 2rem;
}
